//********************** FONTS ******************************
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700i,900i&display=swap&subset=latin-ext');
@import url('./font-awesome.min.css');

//**************** VARIABLES *******************

@import './variables/basic-variables';
@import './variables/colors';
@import './animations/anims';

//********************** BASICS (ANULL BASIC DEFAULTS OF BROWSERS) *****************************

body, html {
    width: 100%;
    margin: 0;
    font-family: $rslab;
    font-size: setdefault-rem-px();
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

a {
    color: initial;
    text-decoration: none;
}

p {
    line-height: 1.666;
    margin: rem(15) 0 rem(10);
    font-size: rem(18);
    text-align: justify;
}

//no select, touch callout, drag, drop,... except text (enabled 'copy' only on 'text' elements)
a, span, i, div, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    user-drag: none;
}

img {
    vertical-align: bottom;
}

//***** loader *******

.loader {
    position: fixed;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.loader__middle {
    display: table-cell;
    vertical-align: middle;
}

.loader__inner {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.loader__inner img {
    width: 80px;
}

.loader__inner #loadlogo {
    width: rem(350);
    max-width: 80%;
}

//******** pics-preload *********

#pics-preload {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    opacity: 0;
    overflow: hidden;
}

#pics-preload img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

//***************** css-connector *****************

#css-connector{
    width: 1px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2
}

//**************** container ***********************

.container {
    width: 100%;
    max-width: rem(1920);
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

.inner {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}

//********************** PARTIALS *********************

@import './partials/header';
@import './partials/section1';
@import './partials/form';
@import './partials/section2';
@import './partials/section3';
@import './partials/section4';
@import './partials/section5';
@import './partials/order';
@import './partials/section6';
@import './partials/section7';
@import './partials/section8';
@import './partials/section9';
@import './partials/section10';
@import './partials/section11';
@import './partials/section12';

//********************** MEDIA *********************


@media screen and (max-width: 500px) {
    body, html {
        //  calc(MINFSpx + (MAXFS-MINFS)*(100vw-MINSZpx)/(MAXSZ-MINSZ))
        //*MINFS - min font-size
        //*MAXFS - max font-size
        //*MINSZ - min screen size
        //*MAXSZ - max screen size
        font-size: calc(16*(100vw)/500);
    }
}
