section.section5 {
    width: 100%;
    height: rem(1600);
    position: relative;
    z-index: 2;
    background-size: rem(1920) auto;
    background-position: top center;
    background-repeat: no-repeat;

    .inner {
        display: table;
        table-layout: fixed;
        color: $dark;

        .left, .right {
            display: table-cell;
            vertical-align: middle;
            position: relative;
        }

        .left {
            z-index: 2;
            padding: rem(50) rem(40);

            h2 {
                font-family: $rob;
                font-weight: 900;
                font-style: italic;
                font-size: rem(48);
                line-height: 1.2;
                padding-bottom: rem(15);
            }

            h4 {
                font-family: $rob;
                font-weight: 700;
                font-style: italic;
                font-size: rem(30);
                line-height: 1.2;
                padding-bottom: rem(30);
            }

            button {
                width: rem(350);
                max-width: 95%;
                line-height: 1;
                display: inline-block;
                border: 2px solid #000;
                color: #fff;
                background-color: #000;
                font-family: $rslab;
                font-weight: 700;
                font-size: rem(30);
                vertical-align: middle;
                padding: rem(5) 0 rem(7);
                border-radius: rem(23);
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
                position: relative;
                z-index: 3;

                i {
                    vertical-align: baseline;
                    padding-left: rem(20);
                    font-size: rem(25);
                }
            }

            button:hover {
                background-color: #999;
            }
        }

        .right {
            z-index: 1;

            .bottles {
                position: absolute;
                top: rem(-100);
                left: rem(-150);
                width: rem(893);
                height: rem(538);
                background-size: cover;
            }
        }
    }
}