section.section1 {
    width: 100%;
    position: relative;
    z-index: 2;
    background-size: rem(1920);
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: rem(400);
    height: 2000px;





}